@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #0A0F1C;
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-dark-card backdrop-blur-md border border-white/5;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-main;
  }
}